<div class="container">

  <div class="header">
    <app-genres></app-genres>
  </div>

  <div class="movies">
    <app-movie *ngFor="let movie of movies?.results" [movie]="movie"></app-movie>
  </div>

  <div class="footer">
    <button class="pagin" (click)="paginationDown()">Previous</button>
    <div>Page:{{movies?.page}}</div>
    <button (click)="paginationUp()">Next</button>

    <div class="goto">
      <form class="form" [formGroup]="form">
        <div><label><input type="text" formControlName="goto"></label></div>
        <div>
          <button (click)="goto()">Go to Page</button>
        </div>
      </form>
    </div>
    <div class="goto">Total pages:{{movies?.total_pages}}</div>
  </div>

</div>
